.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0 0;

    @media (max-width: 1000px) {
        margin-bottom: -10px;
        align-items:baseline;
    }

    @media (max-width: 580PX) {
        flex-direction: column;

        .itemFilter {
            max-width: 370px;
            margin: 0 auto;
            justify-content: center;
            padding-bottom: 30px;
        }
        
        .sort {
            margin: 0 auto;

            &__text {
                div {
                    width: 100%;
                }
            }

            &__wrapper {
                left: 50%;
                transform: translate(-50%, 0%);
            }
        }
    }

    @media (max-width: 465px) {
        .itemFilter__btn {
            width: 40%;
            padding: 14px 10px;
        }
    }
}

.itemFilter {
    display: flex;

    &__btn {
        display: block;
        background-color: #fff;
        border: none;
        padding: 14px 32px;
        margin-right: 10px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s;
        
        &:hover {
            background-color: #000;
            color: #fff;
            transition: all 0.3s;
        }
    }

    @media (max-width: 1000px) {
        flex-wrap: wrap;
        justify-content: start;

        .filter {
            margin: 40px 0 40px 0;
            // display: block;
        }

        .itemFilter__btn {
            margin-bottom: 10px;
        }
    }
}

.active {
    color: #fff;
    background-color: #000;
}

.sort {
    position: relative;
    margin-left: 20px;

    &__btn {
        color: #FE5F1E;
        border-bottom: 1px dotted #FE5F1E;
    }

    &__mask{
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 29;
    }

    &__text {
        display: flex;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 7px;
            left: -15px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: #000 transparent transparent transparent;
        }

        &-arrow {
            &::before {
                content: "";
                position: absolute;
                top: 7px;
                left: -15px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0px 5px 6px 5px;
                border-color: transparent transparent #000 transparent;
            }
        }

        div {
            width: 135px;
            text-align: left;
            padding-left: 5px;
        }

        @media (max-width: 1050px) {
            b {
                display: none;
            }
        }
    }

    &__list {
        text-align: left;
        padding: 0;
        // margin: auto 0; 
        position:absolute;
        top: 16px; 
        bottom: 0; 
        left: 0; 
        right: 0;
        margin: auto;

        &-wrapper {
            position: relative;
            right: 0px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
            border-radius: 10px;
            padding: 10px 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }

        li {
            list-style-type: none;
            padding: 10px 14px 10px 14px;
            cursor: pointer;
        }
    }

    &__wrapper {
        right: 0;
        margin-top: 10px;
        position: absolute;
        width: 180px;
        height: 260px;
        z-index: 30;
        // background-color: #fff;
        @media (max-width: 1000px) {
            right: 0;
        }
    }
}

.sort__active {
    background-color: rgba(254, 95, 30, 0.05);
    color: #FE5F1E;
    font-weight: 700;
}